div#fileBrowser
    script#fileBrowserFileTemplate(type="text/template")
        div.fileItem
            | file file

    h3 Current Documents
    div#currentDocuments

    span#newFile
        i.icon
        |New Document
    span#openPickerButton
        |Open Drive-File

    h3 Drive Documents
    div#driveDocuments