div#fileBrowser
    script#fileBrowserFileTemplate(type="text/template")
        div.fileItem
            | file file

    div#currentDocuments
        h3 Current Documents

    span#newFile
        i.icon
        |New Document
    span#openPickerButton
        |Open Drive-File

    div#driveDocuments
        h3 Drive Documents