!!! 5
html
    head
        title schreiberApp
        link(href='landingpage.css', rel='stylesheet')

        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')

    body
        div#background
        a#startApp(href='app') App starten

        script(src="landingpage.js", type='text/javascript')