div.titlebar
    if env == 'chromeapp'
        include window-controls

    div.left
        span#toDocuments
            i.icon
            |Documents
    div.right
        span#toPreview
            i.icon
            |Preview

    span.title
        |home.markdown