#file {

    .CodeMirror {
        max-width: 650px;
        width: 100%;
        margin: 30px auto 0;
        //border: 1px solid lighten(gray, 40%);
        //background: white;
        //border-width: 1px 1px 0;
        //padding: 40px 20px;
        height: 100%;
        position: relative;
        z-index: 100;

        line-height: 22px;

        pre {
            line-height: 22px;
        }
    }

    .CodeMirror-gutters {
        background: transparent;
    }

    #preview {
        display: none;
        outline: none;
        border-top:1px solid gray;
        margin-top:20px;
        //display: none;

        h1 {
        }
    }
}