#file {
    max-width: 650px;
    width: 100%;
    margin: 30px auto 0;
    border: 1px solid lighten(gray, 40%);
    border-width: 1px 1px 0;
    padding: 40px 20px;
    height: 100%;

	#src {
        
        font-weight: 300;
		white-space: pre;
        outline: none;
        font-size: 16px;
	}

    #preview {
        border-top:1px solid gray;
        margin-top:20px;
        //display: none;
    }
}