#file {
    //max-height:100%;
    //overflow: scroll;

    .CodeMirror {
        max-width: 650px;
        width: 100%;
        margin: 35px auto 50px;
        //border: 1px solid lighten(gray, 40%);
        //background: white;
        padding: 40px 30px;
        height: 100%;
        position: relative;
        z-index: 100;

        border:0px solid #eee8d5;
        border-width:0 1px 1px;
        
        //box-shadow: 0 -15px 15px -5px #eee8d5;

        //line-height: 22px;

        pre {
            //line-height: 22px;
        }
    }

    #preview {
        display: none;
        outline: none;
        border-top:1px solid gray;
        margin-top:20px;
        //display: none;

        h1 {
        }
    }
}

.distractionFree {
    #file {
        .CodeMirror {
            //border-width: 0;
            border-color:rgba(238, 232, 213, 0.4);
            //box-shadow:none;
        }
    }
}