/*
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,300);

body {
    font-family: 'Merriweather', serif;
    background: lighten(lightyellow, 4);
}
*/

@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,700);

body, .CodeMirror {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.CodeMirror .cm-header {
    font-family: 'Vollkorn', serif!important;
} 