.info {
    position: absolute;
    top:0;
    right: 10px;
    bottom:0;
    font-size: 12px;
    margin: 0;
    padding: 75px 30px;
    max-width: 300px;
    overflow: auto;
}

.info {
    -webkit-transition: opacity:  1s;
    opacity: 1;
}

.distractionFree {
    .info {
        opacity: 0;
    }
}