* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

html, body {
    margin:0;
    padding:0;
    //opacity: 0.1;
}

html {
    height: 100%;
    width:100%;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    .clearfix();
    min-height: 100%;
}

.titlebar {
    position: fixed;
    top:0;
    left:0;
    right:0;
    
    //background: #eee8d5;
    //background: rgba(238, 232, 213, 0.8);
    background: rgba(253, 246, 227, 0.9);

    //box-shadow: 0 0 15px white;

    z-index: 200;
    -webkit-app-region: drag;
    //cursor: move;
    //height: 40px;
    padding:0 10px;
    text-align: center;
    line-height: 40px;
    border-bottom:1px solid darken(#eee8d5, 10%);

    

    &:hover {
        background: #eee8d5;
        background: rgba(238, 232, 213, 0.85);

        #toPreview, #toDocuments {
            background-color:rgba(238, 232, 213, 1);
        }
    }

    > * {
        cursor:default;
    }

    .title {
    }

    .left {
        float:left;

        #toDocuments {
            .button();
            .icon("\e007");

            //margin-left:10px;
            .icon {
                font-size: 20px;
            }
        }
    }

    .right {
        float:right;

        #toPreview {
            .button();
            .icon("\e006");
            .icon {
                font-size: 28px;
            }
        }
    }

}

.titlebar {
    -webkit-transition: border 1s;

    #toPreview, #toDocuments {
        -webkit-transition: border-color 1s;
        .icon {
            -webkit-transition: opacity 1s;
        }
    }
}

.distractionFree {
    .titlebar {
        //border-bottom-color:transparent;

        #toPreview, #toDocuments {
            //opacity: 0.01;
            border-color:transparent;
            .icon {
                opacity: 0.3;
            }
        }
    }
}