/* Let's get this party started */
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}
 
::-webkit-scrollbar-track {
    //border: 1px solid rgba(0,0,0,0.1);
    background: transparent;
    margin:40px 0 0;
}

.preview, .info, #fileBrowser, #currentFile .CodeMirror {
    &::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
        background: transparent; 
    }

    &:hover {
        //background: red;
        &::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
            background: rgba(101, 123, 131,1); 
        }
    }
    
}

::-webkit-scrollbar-thumb:window-inactive, ::-webkit-scrollbar-thumb:inactive {
    background: transparent;//rgba(0,0,0,0.5);
}